// firehose track 4, lesson 5 - file created 12 jun 17

// next line added 12 jun 17 to add bootstrap
@import "bootstrap";

// navbar and hero styling added 13 jun 17
.navbar {
  background: image_url('stardust.png');
  box-shadow: 10px 10px 5px #2a2a2a;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-inverse a.navbar-brand {
  color: #A31F34;   // mit's official cardinal color
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

